/* <ul> */
.treeview__node {
  list-style-type: none;
}

/* an indicator to the left of a node printed name */
.treeview__sign {
  cursor: pointer;
  font-family: monospace;
}

span.treeview__sign--collapsed::before {
  content: "[+]\a";
}

span.treeview__sign--expanded::before {
  content: "[-]\a";
}

.treeview__node--hidden {
  display: none;
}

.treeview__node--selected {
  font-weight: bold !important;
}

.treeview__node--selected:hover {
  text-decoration: none !important;
  cursor: text !important;
}

/* <span> a printed node name */
.treeview__node__display {
  /* background-color: yellow; */
}

/* a node w/o childred */
.treeview__node--leaf:hover {
  text-decoration: underline;
  cursor: pointer;
}
